/.vscode

/ostep-code/cpu-api/p1
/ostep-code/cpu-api/p2
/ostep-code/cpu-api/p3
/ostep-code/cpu-api/p4
/ostep-code/cpu-api/p4.output

/ostep-homework/cpu-api/1
/ostep-homework/cpu-api/2
/ostep-homework/cpu-api/2.output
/ostep-homework/cpu-api/3
/ostep-homework/cpu-api/4
/ostep-homework/cpu-api/5
/ostep-homework/cpu-api/6
/ostep-homework/cpu-api/7
/ostep-homework/cpu-api/8

/ostep-homework/cpu-direct-execution/measure

/ostep-homework/vm-useful-tools/memory-user