/.vscode

/ostep-code/cpu-api/p1
/ostep-code/cpu-api/p2
/ostep-code/cpu-api/p3
/ostep-code/cpu-api/p4
/ostep-code/cpu-api/p4.output

/ostep-homework/cpu-api/1
/ostep-homework/cpu-api/2
/ostep-homework/cpu-api/2.output
/ostep-homework/cpu-api/3
/ostep-homework/cpu-api/4
/ostep-homework/cpu-api/5
/ostep-homework/cpu-api/6
/ostep-homework/cpu-api/7
/ostep-homework/cpu-api/8

/ostep-homework/cpu-direct-execution/measure

/ostep-homework/vm-useful-tools/memory-user

/ostep-homework/vm-memory-api/access_unknown_area
/ostep-homework/vm-memory-api/forget_free
/ostep-homework/vm-memory-api/null
/ostep-homework/vm-memory-api/use_after_freed
/ostep-homework/vm-memory-api/vector

/ostep-homework/vm-tlbs/tlb

/ostep-homework/vm-beyondphys/mem

/ostep-homework/threads-api/main-deadlock
/ostep-homework/threads-api/main-deadlock-global
/ostep-homework/threads-api/main-race
/ostep-homework/threads-api/main-signal
/ostep-homework/threads-api/main-signal-cv

/ostep-homework/threads-practice/approximate_counter
/ostep-homework/threads-practice/linked_list
/ostep-homework/threads-practice/simple_concurrent_counter
/ostep-homework/threads-practice/text.txt
/ostep-homework/threads-practice/trie

/ostep-homework/threads-cv/main-one-cv-while
/ostep-homework/threads-cv/main-two-cvs-if
/ostep-homework/threads-cv/main-two-cvs-while
/ostep-homework/threads-cv/main-two-cvs-while-extra-unlock

/ostep-homework/threads-sema/barrier
/ostep-homework/threads-sema/fork-join
/ostep-homework/threads-sema/mutex-nostarve
/ostep-homework/threads-sema/reader-writer
/ostep-homework/threads-sema/reader-writer-nostarve
/ostep-homework/threads-sema/rendezvous
